:host {
  display: block;
  padding: var(--space-xl) var(--space-m);
  background-color: var(--bg-green);
  min-height: 100vh;
}

input:focus ~ label,
input.p-filled ~ label,
.p-inputwrapper-focus ~ label,
.p-inputwrapper-filled ~ label {
  color: var(--txt-primary) !important;
  background-color: transparent !important;
  transform: translateY(-1.25rem) scale(0.95);
}

.login-card {
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--bg-blue);

  ::ng-deep .p-card-title {
    text-align: center;
    font-size: var(--font-size-xxl);
    font-weight: bold;
    margin-bottom: var(--space-l);
  }
}

.field {
  margin-bottom: var(--space-xl);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-s);
  margin-top: var(--space-l);

  .btn-submit ::ng-deep .p-button {
    background-color: var(--btn-red);
    border-color: var(--btn-red);
    color: white;

    &:hover {
      background-color: var(--btn-red);
      border-color: var(--btn-red);
      filter: brightness(0.9);
    }
  }

  .btn-cancel ::ng-deep .p-button {
    background-color: var(--btn-green);
    border-color: var(--btn-green);
    color: var(--txt-primary);

    &:hover {
      background-color: var(--btn-green);
      border-color: var(--btn-green);
      filter: brightness(0.9);
    }
  }
}

.error {
  display: block;
  margin-top: var(--space-xs);
  color: var(--btn-red);
  font-size: var(--font-size-sm);
  font-weight: 600;
}
