<nav class="navbar">
  <div class="logo">BookHub</div>

  <ul class="nav-links">
    <li><a routerLink="/catalog">Bibliothèque</a></li>

    @if (currentUser()?.role === 'ADMIN' || currentUser()?.role === 'LIBRARIAN') {
      <li><a routerLink="/add-book">Ajouter un livre</a></li>
    }

    @if (currentUser()) {
      <li><a routerLink="/my-profile">Mon profil</a></li>
    }

    <li class="search-item">
      <span class="search-box">
        <i class="pi pi-search"></i>
        <input type="text" placeholder="Rechercher..." />
      </span>
    </li>

    <li>
      @if (currentUser()) {
        <a class="logout" (click)="logout()">
          <i class="pi pi-sign-out"></i>
        </a>
      } @else {
        <div class="auth-buttons">
          <button class="login-btn" routerLink="/login">
            <i class="pi pi-sign-in"></i>
            Connexion
          </button>

          <button class="signup-btn" routerLink="/register">
            <i class="pi pi-user-plus"></i>
            Inscription
          </button>
        </div>
      }
    </li>
  </ul>
</nav>
