<div class="sort-buttons">
  @for (field of fields; track field) {
    <button
      type="button"
      (click)="setSort(field)"
      [class.active]="sortBy === field && sortDirection"
    >
      <span class="label">
        {{ labels[field] }}
      </span>

      <span class="icon">
        @if (getIcon(field) === 'up') {
          <i class="pi pi-arrow-up"></i>
        } @else if (getIcon(field) === 'down') {
          <i class="pi pi-arrow-down"></i>
        }
      </span>
    </button>
  }
</div>