.grid-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

/* GRID AREA CONTAINER */
.grid-section {
  flex: 1;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

/* ONLY SCROLLABLE AREA */
.grid {
  flex: 1;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  padding: 16px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* PAGINATION */
.pagination {
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  gap: 8px;

  padding: 10px;
  background: var(--bg-pink); // todo couleur
}

.pagination button {
  padding: 6px 12px;
  background: var(--txt-primary-hover);
  color: var(--bg-white);
  border: none;
  border-radius: var(--radius-m);
  cursor: pointer;
}

.pagination button:hover {
  background: var(--btn-green);
}

.pagination button:active {
  transform: scale(0.97);
}
